.main-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;

    .signup-container {
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1em 0 3em #0003;

        .signup-body {
            .signup-inputs {
                gap: 1.5em 3vw;

                .input-container {
                    position: relative;
                    display: flex;
                    color: #555;
                    flex-direction: column;
                    gap: .4em;
                    list-style: none;
                    transition: letter-spacing .15s;

                    .input-text {
                        $red: #f00;
                        $blue: #5e67b2;
                        position: relative;
                        font-size: .9em;
                        border-radius: .5em;
                        background: #e5e5e5c0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        transition: 
                            background .15s ease-in-out,
                            border-color .15s ease-in-out;
                        border: 2px solid transparent;

                        .input {
                            color: #333;
                            font-weight: 500;
                            font-size: 1em;
                            width: 100%;
                            background: transparent;
                            border-radius: .5em;
                            padding: .8em 1.35em;
                        }

                        &:has(.input.input-auto) {
                            pointer-events: none;
                        }

                        &:has(.input.invalid), &:has(.input.ng-invalid:focus) {
                            border-color: $red;

                            .ionicon.red {
                                opacity: 1;
                                scale: 1;
                            }
                        }

                        &:has(.input.valid) {
                            border-color: $blue;

                            &:has(.input:focus) .ionicon.blue {
                                opacity: 1;
                                scale: 1;
                            }
                        }

                        &:has(.input:where(.valid, .invalid)) {
                            background: transparent;
                        }

                        &:has(.input:focus) {
                            background: transparent;

                            &:has(.input:not(.valid, .invalid, .ng-valid, .ng-invalid)) {
                                border-color: #ddd;
                            }
                        }

                        .ionicon {
                            position: absolute;
                            pointer-events: none;
                            display: flex;
                            height: 1.5em;
                            width: 1.5em;
                            right: .75em;
                            opacity: 0;
                            scale: .5;
                            transition: .15s ease-in-out;

                            &.red {
                                color: $red;
                            }

                            &.blue {
                                color: $blue;
                            }
                        }
                    }

                    &:has(.input-text:focus) {
                        letter-spacing: .2em;
                    }
                }
            }
        }

        .signup-submit {
            display: flex;
            gap: .5em;
            flex-direction: column;

            .signup-button_submit {
                background: #1e2772;
                box-shadow: 0 .2em .5em #1e277280;
                font-weight: 500;
                letter-spacing: .03em;
                font-size: 1.1em;
                padding: .7em 4em;
                border-radius: .5em;
                color: #eee;
                cursor: pointer;
                transition:
                    scale .15s ease-in-out,
                    opacity .3s ease-in-out;

                &.valid-form {
                    opacity: .5;
                    pointer-events: none;
                }

                &:hover {
                    scale: 1.05;
                }
            }

            .login-button {
                color: #1e2772;
                font-weight: 600;
                font-size: .95em;
                text-decoration: none;
                cursor: pointer;
                background: transparent;
            }
        }
    }

    .img-container {
        position: relative;
        flex-grow: 30;
        max-width: 64em;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        overflow: hidden;

        .blob {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;

            svg {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .img-box {
            flex-grow: 1;

            img {
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 64rem) {
    .img-container {
        display: flex;
    }

    .input-text {
        width: 30vw;
        max-width: 20em;
    }
}

@media screen and (max-width: calc(64rem - 1px)) {
    .img-container {
        display: none;
    }
}

@media screen and (min-width: 50rem) and (max-width: calc(64rem - 1px)) {
    .signup-body {
        width: 100%;

        .signup-inputs {
            width: 100%;

            .input-text {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 50rem) {
    .signup-container {
        justify-content: space-around;
        padding: 1em max(2em, 3vw);

        .signup-body {
            padding: 1em;

            .signup-inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: calc(50rem - 1px)) {
    .signup-container {
        padding: 2em;

        .signup-body {
            padding: 2em;
            width: 100%;
            
            .signup-inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .input-container {
                    width: 100%;
                    max-width: 30em;

                    .input-text {
                        width: 100%;
                    }
                }
            }
        }
    }
}