.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: var(--bg-color);
    width: 100%;
    aspect-ratio: 3 / 1;
    flex-grow: 1;

    &.home {
        cursor: pointer;
        border-radius: .5em;
    }

    &.route {
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        background: #f00c;
        flex-grow: 1;
    }

    .loading {
        position: absolute;
    }
}