@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: Poppins;
    box-sizing: border-box;
}

$dark-blue: #1e2772;
$input-size: 3em;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-root, app-sign-up {
    height: 100%;
    width: 100%;
}

.ionicon {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.hover-a {
    display: flex;
    position: relative;
    color: $dark-blue;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background: currentColor;
        scale: 0 1;
        transition: scale .3s ease-in-out;
        transform-origin: bottom right;
    }

    &:hover::before {
        scale: 1;
        transform-origin: bottom left;
    }
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}