@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

app-sign-up {
    display: block;
    height: 100%;
    width: 100%;
}

.ionicon {
    height: 1em;
    width: 1em;
    fill: currentColor;
}